<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>WeatherApp</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="container">
<header class="header" th:switch="${user != null}">
    <div th:case="true" class="header_top">
        <a th:href="@{/}" class="header_logo">Dark Weather</a>
        <form th:action="@{/logout}" method="post" class="main_form">
            <p class="header_user-login" th:text="${user.login}"></p>
            <button type="submit" class="form_button_submit">
                <p>Выйти из профиля</p>
            </button>
        </form>
    </div>
    <div th:case="false" class="header_auth">
        <a th:href="@{/}" class="header_logo">Dark Weather</a>
        <a class="header_sign-up" th:href="@{/sign-up}">Sign Up</a>
    </div>
</header>
<main class="main">
    <div class="main_upper">
        <p class="main_description">
            Seeing the weather of the whole world with
            <span class="main_description_gradient">Dark Weather!</span>
        </p>
        <div th:if="${searchError}">
            <p style="color: red" th:text="${searchError}"></p>
        </div>
        <form th:action="@{/weather/search}" method="get" class="main_form">
            <input
                    type="text"
                    placeholder="Введите город..."
                    name="query"
                    class="form_search"
                    required
            />
            <button type="submit" class="form_button_submit">
                <img th:src="@{/img/search.svg}" alt="search"/>
            </button>
        </form>
    </div>
    <ul class="weather_card-list" th:if="${locations != null}">
        <li class="weather_card" th:each="weather : ${locations}">
            <p class="weather_card_city" th:text="${weather.name()}"></p>
            <p class="weather_card_temp" th:text="${weather.main().temp()} + '°C'">35°C</p>
            <form th:action="@{/weather/delete-favorite}" method="post" class="weather_card-list_form">
                <input name="lat" type="hidden" th:value="${weather.coord().lat()}">
                <input name="lon" type="hidden" th:value="${weather.coord().lon()}">
                <input name="name" type="hidden" th:value="${weather.name()}">
                <button type="submit" class="weather_card-list_button">Delete</button>
            </form>
        </li>
        <div th:if="${error}">
            <p style="color: red" th:text="${error}"></p>
        </div>

    </ul>
</main>
</body>
</html>
